<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="setContent(content)">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
<!--    <meta name="_csrf" th:content="${_csrf.token}">-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}">-->
    <title>이색 박물관</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- 별점 주기 라이브러리 -->
    <script th:src="@{/starrr.js}"></script>
    <link th:href="@{/css/starrr.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

    <style>
        .uploadResult {
            width: 100%;
            background-color: gray;
            margin-top: 10px;
        }

        .uploadResult ul {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            vertical-align: top;
            overflow: auto;
        }

        .uploadResult ul li {
            list-style: none;
            padding: 10px;
            margin-left: 2em;
        }

        .uploadResult ul li img {
            width: 100px;
        }
    </style>
</head>

<body>
<!--<div class="d-flex" id="wrapper">-->

    <!-- Sidebar -->
<!--    <div class="bg-light border-right" id="sidebar-wrapper">-->
<!--        <a th:href="@{/}"><div class="sidebar-heading">이색 박물관 로고</div></a>-->
<!--        <div class="list-group list-group-flush">-->
<!--            <a href="#" class="list-group-item list-group-item-action bg-light">게시판</a>-->
<!--            <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>-->
<!--            <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>-->
<!--            <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>-->
<!--            <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>-->
<!--            <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>-->
<!--        </div>-->
<!--    </div>-->
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <a th:href="@{/}"><label>이색 박물관 로고</label></a>

<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <span><a href="#"><button sec:authorize="isAnonymous()" type="button" class="btn btn-primary">회원가입</button></a></span>
                        <span><a th:href="@{/login}"><button sec:authorize="isAnonymous()" type="button" class="btn btn-dark">로그인</button></a></span>
                    </li>
                    <li class="nav-item active">
                        <span><a href="#"><button sec:authorize="isAuthenticated()" type="button" class="btn btn-primary">회원정보보기</button></a></span>
                        <span><a th:href="@{/logout}"><button sec:authorize="isAuthenticated()" type="button" class="btn btn-warning">로그아웃</button></a></span>
                    </li>
<!--                    <li class="nav-item active">-->
<!--                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>-->
<!--                    </li>-->
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link" href="#">Link</a>-->
<!--                    </li>-->
<!--                    <li class="nav-item dropdown">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                            Dropdown-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">-->
<!--                            <a class="dropdown-item" href="#">Action</a>-->
<!--                            <a class="dropdown-item" href="#">Another action</a>-->
<!--                            <div class="dropdown-divider"></div>-->
<!--                            <a class="dropdown-item" href="#">Something else here</a>-->
<!--                        </div>-->
<!--                    </li>-->
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            <th:block th:replace = "${content}"></th:block>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

<!--</div>-->
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
    // $("#menu-toggle").click(function(e) {
    //   e.preventDefault();
    //   $("#wrapper").toggleClass("toggled");
    // });
</script>

<footer>
    <h1>푸터</h1>
</footer>

</body>
</th:block>
</html>
