<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="setContent(content)">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <!--    <meta name="_csrf" th:content="${_csrf.token}">-->
        <!--    <meta name="_csrf_header" th:content="${_csrf.headerName}">-->
        <title>이색 박물관</title>

        <!-- Bootstrap core CSS -->
        <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet">

        <!-- Bootstrap core JavaScript -->
        <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
        <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

        <!-- 별점 주기 라이브러리 -->
        <script th:src="@{/starrr.js}"></script>
        <link th:href="@{/css/starrr.css}" rel="stylesheet">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">

        <style>
            * {
                margin: 0px;
                padding: 0px;
            }
            .uploadResult {
                width: 100%;
                background-color: gray;
                margin-top: 10px;
            }

            .uploadResult ul {
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;
                vertical-align: top;
                overflow: auto;
            }

            .uploadResult ul li {
                list-style: none;
                padding: 10px;
                margin-left: 2em;
            }

            .uploadResult ul li img {
                width: 100px;
            }
        </style>
    </head>

    <body>


    <!-- Sidebar -->
    <!--    <div class="bg-light border-right" id="sidebar-wrapper">-->
    <!--        <a th:href="@{/}"><div class="sidebar-heading">이색 박물관 로고</div></a>-->
    <!--        <div class="list-group list-group-flush">-->
    <!--            <a href="#" class="list-group-item list-group-item-action bg-light">게시판</a>-->
    <!--            <a href="#" class="list-group-item list-group-item-action bg-light">Shortcuts</a>-->
    <!--            <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>-->
    <!--            <a href="#" class="list-group-item list-group-item-action bg-light">Events</a>-->
    <!--            <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>-->
    <!--            <a href="#" class="list-group-item list-group-item-action bg-light">Status</a>-->
    <!--        </div>-->
    <!--    </div>-->
    <!-- /#sidebar-wrapper -->

    <!-- 헤더 -->
    <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <a th:href="@{/}"><img style="width: 300px" th:src="@{/images/logo.png}"></a>
<!--            <a th:href="@{/}"><label>이색 박물관 로고</label></a>-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <span sec:authorize="hasRole('USER')"><b><span sec:authentication="name" name="user_id" id="user_id"></span></b>님 환영합니다.&nbsp;&nbsp;&nbsp;</span>
                        <span><a th:href="@{/}"><button type="button" class="btn btn-info">HOME</button></a></span>
                        <span><a th:href="@{/member/signup}"><button sec:authorize="isAnonymous()" type="button" class="btn btn-primary">회원가입</button></a></span>
                        <span><a th:href="@{/login}"><button sec:authorize="isAnonymous()" type="button" class="btn btn-secondary">로그인</button></a></span>
                        <span><a th:href="@{/member/mypage}"><button sec:authorize="isAuthenticated()" type="button" class="btn btn-primary">마이페이지</button></a></span>
                        <span><a th:href="@{/logout}"><button sec:authorize="isAuthenticated()" type="button"class="btn btn-warning">로그아웃</button></a></span>
                    </li>
                </ul>
            </div>
        </nav>
<!--      내용  -->
        <div class="container-fluid">
            <th:block th:replace="${content}"></th:block>
        </div>
    </div>

<!--    푸터-->
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">&copy; 2021 Company, Inc</p>
            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            </a>
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
        </footer>
    </div>

    <script th:inline="javascript">

    </script>
    </body>
</th:block>
</html>
